/* * {border: solid red;
} */

body {
	margin: 0 auto;
	display: block;
	max-width: 1200px;
	background-color: turquoise;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	
}

.board {
	background-image: url('cork.jpg'); 
	max-width: 1200px;
	padding: 40px;
	margin: 30px;
}
.create-column {
	background-color: green;

}
.column-card-list li {
	align-self: center;
}
.column-card-list {
	min-height: 100px;
	padding: 0;
	margin: 10px;
}
.add-card {
	background-color: green;
}

h1 {font-family: 'Josefin Slab', serif;
	background-color:aliceblue;
	padding: 8px;
	border: solid sienna;
	}

.column-container {
	
	display: flex;
	flex-direction: row;
}

.column {
	list-style-type: none;
	text-align: center;
	width:200px;

}

.card {
	background-image: url('yellow.jpg');
	/* background-color: yellow; */
	list-style-type: none;
	font-family: 'Indie Flower', cursive;
	justify-content: center;

}
.card p {
	margin: 10px;
}
.column-title {
	font-family: 'Josefin Slab', serif;
	background-color:aliceblue;
	padding: 8px;
	border: solid sienna;
}
.btn-delete {
	
}
